


@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
body {
  font-family: "Raleway", sans-serif;
  list-style: none;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}
.icons.fab.fa-github.fa-3x {
  color: black;
}
.fa-envelope:before {
  color: #f14545fa;
}
.myName {
  margin-top: 0%;
  color: white;
}
.navbar-light .navbar-brand {
  color: black;
  font-size: 25px;
  text-transform: uppercase;
  padding-left: 2%;
  letter-spacing: 2px;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: black;
  text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
  margin-right: 1.5rem;
  text-transform: uppercase;
}
.navbar-light .navbar-nav {
  padding: 20px;
}
.navbar-light .navbar-nav {
  padding: 20px;
  padding-right: 3%;
}
.navbar-toggler {
  background-color: white;
}
.display-3 {
  font-size: 8.1vh;
  font-weight: 300;
  line-height: 1.2;
}
.col-md-6,
.col-12,
.col-xs-12,
.col-lg-6 {
  background: white;
  border: 1px solid white;
  height: auto;
  padding-top: 4%;
  padding-bottom: 11%;
}
#collegeDesc {
  font-size: 168%;
  padding-top: 6%;
  padding-top: 16%;
}
.scv {
  margin-top: -4%;
}
.school {
  font-size: 4vh;
  margin-top: 14.8vh;
}
.year {
  font-size: 2vh;
}
.progress {
  margin-bottom: 1vw;
  margin-top: 1vw;
}
.skillsheader {
  margin-bottom: 2%;
}
.tech {
  font-size: 149%;
  padding: -3px;
}
.myimg img {
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  width: 13rem;
  align-items: center;
  display: block;
  margin-top: 24vh;
  margin-left: auto;
  margin-right: auto;
}
.intro {
  text-align: center;
  margin-top: 4%;
  padding-top: inherit;
}
.main {
  height: 100%;
}
.mainheading {
  background: #00b09b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #FE0002,
    #2A00D5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #FE0002,
    #2A00D5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: table;
  vertical-align: middle;
  background-size: cover;
  position: relative;
  height: 100vh;
}
.navbar {
  background-color: white;
  padding: inherit;
}
.progress-bar {
  background-color: #34495e;
}
.contact {
  background-color: #c6d8d3;
}
.skills {
  background-color: #d1e2bd;
}
.skol {
  background-color: #2c3e50;
  color: white;
}
.contact {
  padding-bottom: 10px;
}

.icons a,
.icons a:hover {
  text-decoration: none;
}
.iconbar {
  text-align: center;
  display: block;
  padding-top: 4rem;
  padding-bottom: 5rem;
}
.icons {
  margin-right: 10%;
}
.icons.fab.fa-linkedin-in.fa-3x {
  color: #0e76a8;
}